.panel-tab{
    padding: 12px;
    border-radius: 3px;
    margin: 30px;
    background-color: #94cfd5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-container{
    background-color: #f1f1f1;
}
.panel-tab *{
    padding:5px;
}
.ng-dirty.ng-invalid-email{
    border:1px solid red;
}
.ng-dirty.ng-valid-email{
    border:1px solid darkgreen;
}